<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Animes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="animePage">
    <ion-card
      (click)="openAnimePage(anime)"
      class="animeCard"
      *ngFor="let anime of (animeList | async).data"
    >
      <img [src]="anime.attributes.posterImage.small" />
      <h2>{{anime.attributes.canonicalTitle}}</h2>
    </ion-card>
  </div>

  <div class="nextPage">
    <button
      ion-button
      (click)="previousPage()"
      *ngIf="animeService.pageNumber !== 0"
    >
      Previous Page
    </button>
    <button ion-button (click)="nextPage()">Next Page</button>
  </div>
</ion-content>
