.animePageDetails{
    width: 100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;

    .animeCardDetails{
        margin-right: 10px;
        margin-top: 10px;
        background-color: grey;
        width: 90%;
        min-height: 600px;

        .animeTitle{
            text-align: center;
            color: white;
        }

        .animeDescriptions{
            color: white;
        }

    }
}

.backToListButton{
    display:flex;
    justify-content: center;
}


